.plansScreen > h4 {
    font-weight: 400;
    margin-top: 10px;
  }
  
  .plansScreen_plans {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    opacity: 0.8;
  }
  
  .plansScreen_plans:hover {
    opacity: 1;
  }
  
  .plansScreen_plans > button {
    padding: 10px 20px;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 1.8px;
    background-color: #e50914;
    cursor: pointer;
  }
  