.row {
    color: white;
    margin-left: 30px;
    margin-top: 8px;
}

.row_posters {
    cursor: pointer;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row_posters::-webkit-scrollbar {
    display: none;
}

.row_poster {
    max-height: 120px;
    object-fit: contain;
    margin-right: 12px;
    width: 100%;
    transition: transform 300ms;
    border-radius: 2px;
}

.row_poster:hover {
    transform: scale(1.09);
    opacity: 1;
}

.row_posterLarge {
    max-height: 250px;
}

.row_posterLarge:hover {
    transform: scale(1.09);
    opacity: 1;
}
